* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.logo {
  position: absolute;
  left: 36px;
  top: 36px;
  z-index: 200;
  color: #fff;
  font-size: 2rem;
}

.circle-one,
.circle-two {
  z-index: 100;
  position: absolute;
  width: 500px;
  height: 500px;
  opacity: 0.3;
}

.circle-one {
  top: -20%;
  left: -15%;
  transform: translateX(-100%);
}

.circle-two {
  bottom: -20%;
  right: -15%;
  transform: translateX(100%);
}

.content img {
  transform: translateX(100%);
  position: absolute;
  top: 20%;
  right: -10%;
  z-index: 300;
  width: 700px;
}

.content .text {
  position: absolute;
  top: 15%;
  left: 2%;
  color: #fff;
  z-index: 300;
}

.content .text h1 {
  width: 50%;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 800;
}

.content .text h1 span {
  color: #f44336;
  opacity: 0;
}

.content .text p {
  width: 60%;
  line-height: 1.5;
  margin: 30px 0;
}

.content .text a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  background-color: #f44336;
  padding: 20px 40px;
  font-weight: 800;
  opacity: 0;
}

.content .text a:hover {
  background-color: #f5685e;
}

@media (min-width: 770px) and (max-width: 1200px) {
  .circle-one {
    top: -15%;
    left: -10%;
  }
  .circle-two {
    display: none;
  }
  .content img {
    width: 500px;
    top: 30%;
    right: 0%;
  }
  .content .text {
    top: 30%;
    left: 5%;
    padding-right: 20px;
  }
  .content .text h1 {
    margin-right: 0;
  }
  .content .text p {
    width: 90%;
  }
}

@media (min-width: 550px) and (max-width: 770px) {
  .circle-two {
    display: none;
  }
  .content img {
    width: 400px;
    top: 35%;
    right: 0%;
  }
  .content .text {
    top: 30%;
    left: 2%;
    padding-right: 20px;
  }
  .content .text h1 {
    margin: 0;
    font-size: 3rem;
  }
  .content .text p {
    width: 90%;
  }
}

@media (min-width: 300px) and (max-width: 550px) {
  .bm-burger-button {
    width: 20px;
    height: 20px;
    top: 45px;
  }
  .logo {
    left: 10px;
  }
  .circle-one {
    top: -10%;
    left: -15%;
    width: 200px;
    height: 200px;
  }
  .circle-two {
    display: none;
  }
  .content img {
    width: 200px;
    top: 25%;
    right: 0%;
  }
  .content .text {
    top: 15%;
    left: 2%;
    padding-right: 20px;
  }
  .content .text h1 {
    width: 80%;
    margin: 0;
    font-size: 2rem;
  }
  .content .text p {
    width: 90%;
    font-size: 14px;
  }
}
